[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virtualenv = "==20.23.1"
fastapi = "==0.99.1"
openai = "==0.27.8"
langchain = "==0.0.225"

[dev-packages]

[requires]
python_version = "3.9"
