<!DOCTYPE html>
<html>

<head>
    <title>Chroma Search</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <h1>Chroma Search</h1>
    </div>
    <div class="page-content">
        <div class="content">
            <div class="search">
                <h1>What is the hex code for...</h1>
                <form action="/" method="POST">
                    <input type="text" name="user_input" id="input-bar" autofocus required>
                </form>
            </div>
            <div class="result">
                <h2>
                    {{ user_input }}
                </h2>
            </div>
        </div>
    </div>
</body>

</html>
